<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nuove idee</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <div id="title">
        <p id="title-text">NUOVE IDEE</p>
        <ul id="extra">
            <li><a href="https://dait.interno.gov.it/elezioni/open-data" target="_blank" rel="noopener noreferrer" class="fonte-link">Fonte utilizzata</a></li>
            <li><a href="{{ url_for('idee') }}" class="fonte-link">Nuove idee</a></li>
            <li><a href="{{ url_for('homePage') }}" class="fonte-link">Home page</a></li>
        </ul>
    </div>
    <div class="content">
        <h2>Accesso</h2>
        <div class="testo">
            Per iniziare ovviamente bisognerebbe portare il sito online utilizzando un database che contenga i dati che ho mostrato senza utilizzare un file CSV come in questo prototipo.
            <br>
            Questo si traduce in un sito accessibile a chiunque sia da mobile che su un PC (si controlli tramite strumento ispezione pagina il sito ha una buona interfaccia anche per i dispositivi mobili).
            <br>
            Se si consultano le fonti è facile vedere come i dati fossero "sparpagliati" in più dataset (peraltro in vari formati e con vari problemi di formattazione) e quindi non facilmente consultabili, per procedere con questo progetto sarebbe opportuno o che si continuasse ad aggiornare un unico dataset aggregato o che ci fosse qualcuno di designato alla formattazione del dataset stesso man mano che si presentano nuovi dati provienienti dai referendum.
            <br>
            La seconda ipotesi in cui qualcuno viene designato alla formattazione dei dataset è la più avvalorata dal sottoscritto in quanto sono stati aggiunti alcuni parametri (come ad esempio Ambito del referendum e tipo di referendum) che non erano presenti nei dataset originali o che venivano dati per scontati.
            <br>
            Detto questo fatto sulla pubblicazione del sito tramite il caricamento dei dati in un database e non più in un dataset trovo opportuno parlare anche del fatto che i dataset originali potrebbero anche essere posti a disposizione del pubblico (come viene fatto nel sito utilizzato come fonte) cosa che funziona sia per chi vuole creare qualcosa di simile che per chi volesse controlare e eventualemente segnalare errori inerenti ai dati esposti.
        </div>
        <h2>Precisione</h2>
        <div class="testo">
            Per il momento è stato deciso di tenere abbastanza largo il campo di ricerca fermandomi alla precisione per provincia e non per comune come si può vedere nei dataset originali.
            <br>
            Questa decisione scaturisce dal fatto che non trovavo un'effettiva utilità in una precisione per comune almeno finchè ci si concentrava sui referendum di qualunque tipo che avvengono su scala nazionale.
            <br>
            Un idea interessante se si volesse implementare la ricerca per comune sarebbe mettere a disposizione i dati/dataset/grafici ecc. per i referendum locali (come ad esempio quelli comunali) che avvengono solo in un determinato comune o in una determinata provincia, questo oltre ad offrire ovviamente una precisione maggiore nella ricerca potrebbe anche aiutare un eventuale utente a non ragionare solo su scala nazionale ma anche su referendum che potrebbero cambiare piccole cose su scala comunale.
        </div> 
        <h2>Varie/design</h2>
        <div class="testo">
            Per quanto riguarda il design in una versione migliorata si potrebbe implementare una mappa interattiva separata in regioni/provincie/comuni in base alla precisione richiesta dall'utente(oltre ai già presenti grafici), questo per avere una visualizzazione più immediata oltre a un design più appetibile.
            <br>
            Sarebbe inoltre interessante l'implementazione di un sistema che notifichi la presenza di nuovi referendum approvati o in fase di discussione, mostri già l'ambito, il tipo e la domanda/le domande posta/e in modo da facilitare la comprensione dei quesiti stessi e permettere all'utente di farsi un'idea in anticipo, per aiutare ulteriormente l'utente sarebbe utile l'implementazione di una pagina che mostri la norma che viene modificata o abrogata dal referendum stesso (stile circolare 1), questo per permettere all'utente di capire meglio il contesto del referendum e quindi farsi un'idea più precisa.
            <br>
            Un'altra idea sarebbe quella di rendere vari referendum (magari di uno stesso ambito) confrontabili, questo per controllare se una domanda inerente all'argomento corrente è già stata posta in passato e come è stata l'affluenza in quel caso, controllare quindi oltre all'affluenza il risultato per provincia regione ecc.
        </div>
    </div>
</body>
</html>
